<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulo</title>
</head>

<body>
    <div id="app">
        <h1>Instancia app</h1>
        <mi-encabezado titulo="Curso" subtitulo="Desarrollo web con vue.js" :contenido="datos" alineacion="center"></mi-encabezado><br>
        <mi-tabla :lista="personas"></mi-tabla>




    </div>
    <hr>
    <div id="app2">
        <h1>Instancia app2</h1>
        <mi-tabla :lista="personas"></mi-tabla>
        <br>
        <mis-peliculas :lista="peliculas"></mis-peliculas>
    </div>

    <template id="tablaPersonas">
        <div>
            <table>
                <th>Nobre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <tr v-for="dato in lista">
                    <td>{{dato.nombre}}</td>
                    <td>{{dato.direccion}}</td>
                    <td>{{dato.telefono}}</td>
                </tr>
            </table>
        </div>
    </template>
    <!-- Otra foma de poner el template -->
    <script type="text/template" id="tablaPersonas2">
        <div>
            <table>
                <th>Nobre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <tr v-for="dato in lista">
                    <td>{{dato.nombre}}</td>
                    <td>{{dato.direccion}}</td>
                    <td>{{dato.telefono}}</td>
                </tr>
            </table>
        </div>
    </script>


    <script src='https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js'></script>
    <script>
        Vue.component('mi-encabezado', {
            props: ['titulo', 'subtitulo', 'contenido', 'alineacion'],
            template: `
            <div style="width:300px;">
               <h2>{{titulo}}</h2>
               <h4>{{subtitulo}}</h4>
               <p :align="alineacion">{{contenido}}</p>
            </div>`
        });
        Vue.component('mi-tabla', {
            props: ['lista'],
            // template: '#tablaPersonas'
            template: '#tablaPersonas2'
        });


        const app = new Vue({
            el: '#app',
            data: {
                datos: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde voluptatibus incidunt, ut voluptatem minima placeat laudantium esse sint quia facere doloremque provident recusandae facilis molestias explicabo! Ipsa architecto quia possimus.',
                personas: [{
                    nombre: 'Pedro',
                    direccion: 'jardines',
                    telefono: 3223233
                }, {
                    nombre: 'Maria',
                    direccion: 'Valle',
                    telefono: 1234567
                }, {
                    nombre: 'Cecilia',
                    direccion: 'Perez',
                    telefono: 3223233
                }, ]
            }
        });
        const misPeliculas = {
            props: ['lista'],
            template: `
            <div>
                <table>
                    <th>Titulo</th>
                    <th>Genero</th>
                    
                    <tr v-for="dato in lista">
                        <td>{{dato.titulo}}</td>
                        <td>{{dato.genero}}</td>
                      
                    </tr>
                </table>
            </div>`
        }

        const app2 = new Vue({
            el: '#app2',
            data: {
                datos: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde voluptatibus incidunt, ut voluptatem minima placeat laudantium esse sint quia facere doloremque provident recusandae facilis molestias explicabo! Ipsa architecto quia possimus.',
                personas: [{
                    nombre: 'Pedro',
                    direccion: 'jardines',
                    telefono: 3223233
                }, {
                    nombre: 'Maria',
                    direccion: 'Valle',
                    telefono: 1234567
                }, {
                    nombre: 'Cecilia',
                    direccion: 'Perez',
                    telefono: 3223233
                }, ],
                peliculas: [{
                    titulo: 'Piratas del caribe',
                    genero: 'Aventura'
                }, {
                    titulo: 'Rapido y Furioso',
                    genero: 'Accion'
                }, {
                    titulo: 'El conjuro',
                    genero: 'Terror'
                }, ]
            },
            components: {
                'mis-peliculas': misPeliculas
            }
        });
    </script>

</body>

</html>